<div ng-class="{'form-horizontal': orientation == 'horizontal', 'form-inline': orientation == 'inline'}">
    <div class="form-group" ng-class="{'has-feedback': scope.feedback, 'has-success': scope.state == 'valid', 'has-error': scope.state == 'invalid', 'has-warning': scope.state == 'warning', 'has-info': scope.state == 'notice'}">
        <div class="{{(orientation == 'horizontal' && label) ? ('col-sm-offset-' + labelSize) : ''}} {{(orientation == 'horizontal' && label) ? ('col-sm-' + (12 - labelSize)) : ''}}">
            <div class="checkbox">
                <label>
                    <input id="{{id}}" type="checkbox" ng-model="scope.ngModel"> {{scope.label}}
                    <span ng-if="orientation != 'inline' && feedback"
                          class="glyphicon glyphicon-{{feedback}} form-control-feedback"></span>
                </label>
            </div>
        </div>
    </div>
</div>