/* Makes code background lighter when using HighlightJS */

.hljs, .panel-footer pre {
    background: #f7f7f7;
}

/* Handle for page options in documentation */

.page-options {
    border: 1px solid #14475b;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    clear: both;
    background: #4f6985;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 0.5s, border 0.5s, text-shadow 0.5s;
    -moz-transition: background 0.5s, border 0.5s, text-shadow 0.5s;
    -ms-transition: background 0.5s, border 0.5s, text-shadow 0.5s;
    -o-transition: background 0.5s, border 0.5s, text-shadow 0.5s;
    transition: background 0.5s, border 0.5s, text-shadow 0.5s;
}

.page-options:hover {
    background: #7298c6;
    border: 1px solid #176077;
    text-shadow: 0 1px 0 #000000;
}

/* Nicer semantic coloring for model-binding examples in the documentation */

code span.closer {
    padding: 2px 4px;
    font-size: 60%;
    display: inline-block;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f8cdcb;
    border-radius: 4px;
    position: relative;
    top: -2px;
    left: 2px;
    cursor: pointer;
}

/* Cleaner styling for annotations in the documentation code */

pre code .annotation:before {
    content: "{";
}

pre code .annotation {
    font-weight: bold;
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

pre code .annotation:after {
    content: "}";
}

pre code .annotation:hover {
    opacity: 1;
    background: #ffedf0;
}

/* Better coloring for <code/> blocks within tooltips */
.tooltip code {
    background: #f0f0f0;
    border: 1px solid #000000;
    color: #000000;
}

/* AngularJS Animations */

.reveal-animation {
    position: absolute;
    top: 0;
    left: 0;
}

