<div class="contained">
    <div ng-if="type != 'accordion'" data-section-type="normal">
        <ul class="nav" ng-class="{'nav-tabs': type == 'tab', 'nav-pills': type == 'pill', 'nav-stacked': stacked}">
            <li ng-repeat="section in sections" ng-class="{'active': section.active}">
                <a href="" ng-click="activate(section)"><span ng-class="{'glyphicon glyphicon-{{section.glyph}}': section.glyph}">&nbsp;</span>{{section.title}}</a>
            </li>
        </ul>
        <hr ng-if="type == 'pill'"/>
        <div class="tab-content" ng-transclude></div>
    </div>
    <div ng-if="type == 'accordion'" data-section-type="accordion">
        <div class="panel-group">
            <div class="panel panel-default" ng-repeat="section in sections" data-index="{{$index}}">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="" ng-click="activate(section)"><span ng-class="{'glyphicon glyphicon-{{section.glyph}}': section.glyph}">&nbsp;</span>{{section.title}}</a>
                    </h4>
                </div>
                <div class="panel-collapse collapse" ng-class="{'in': section.active}">
                    <div class="panel-body"></div>
                </div>
            </div>
        </div>
        <div ng-transclude></div>
    </div>
</div>